.title {
  color: var(--color-text-error); 
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}

:root {
  --font-mono: ui-monospace,
  Menlo, Monaco, 'Cascadia Mono', 'Droid Sans Mono',
  'Segoe UI Mono', 'Ubuntu Mono', 
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Mono',
  'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
  'Courier New', monospace;
  --color-text-main: #333;
  --color-text-sub: #999;
  --color-text-unprimary: #fff;
  --color-text-error: #f33;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #fafafa;
  --color-bg-painted: #333;
  --color-border-dark: #333333;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --color-button-primary: #333;
  --color-radius: 4px;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 16px;
  height: 100%;          
}

body {
  font-family: 
    -apple-system,
    BlinkMacSystemFont, 
    'Helvetica Neue',
    YuGothic,
    'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro',
    Arial, 
    'メイリオ',
    Meiryo,
    sans-serif;
  color: var(--color-text-main);
  line-height: 1.8;

  display: flex;        
  justify-content: center;
  align-items: center;    
  min-height: 100vh;      
}

code {
  font-family: menlo, inconsolata, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
